body{
    background-image:url("image/Group 6.png");
    background-repeat: no-repeat;
    background-attachment: fixed;/*definir la position de l'image de l'arriere plan si elle est fixée*/
    background-position-x: 88%;/*definir la position horizontale d'arriere plan*/
    background-position-y: 5%;/*definir la position verticale de l'arriere plan*/
}
h1{
    font-family: sans-serif;
    font-weight: bolder;  
     text-align: start;
}
.myDiv { /*elle est utilisée comme conteneur pour le HTML  qui seront ensuite stylisés avec CSS*/
    font-size: large;
    margin-top: 10%;
    margin-left: 135px;
    color: black;    
    text-align: start;
    margin-right:50%;
 }
 p{
    margin-right:25%;
 }
nav{
    height: 70px;
    width: 100%;
    background-color: none;
    padding-top: 15px;
    text-align: center;
}
#navbar2{
    list-style-type: none;
    padding-left: 135px;
}
#navbar2 a{
    text-decoration: none;
}

.btn-primary{
    --bs-btn-bg:#df6d14;
    --bs-btn-border-color: #df6d14;
    border-radius: 25px;
   margin-right: 62rem;
   

}
.btn{
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: 50px;
    --bs-btn-hover-bg: #df6d14;
    --bs-btn-hover-border-color: #df6d14;
    --bs-btn-active-color:#df6d14;
--bs-btn-active-bg: white;
--bs-btn-active-border-color: #df6d14;
--bs-btn-color:white;
--bs-btn-hover-color:white;
width: 125px;
margin-bottom: -25px;

}

.item-nav:nth-child(1) a{
    text-align: center;
}
.item-nav:nth-child(6) a{
   background-color: #DF6D14;
   border-radius: 25px;
   color: white;
   padding: 11px;
   padding-right: 25px; 
   padding-left: 25px; 
   
}
.item-nav:nth-child(5) a{
  color: orangered;
padding-left: 205px;
}
nav .logo{
    margin-left: 140px;
}
.logo{
    list-style-type: none;
}
li.logo a{
    text-decoration: none;
    color: black;
    margin-left: 135px;
}
li.logo{
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: -55px;
}
.liste-nav{
    width: 100%;
    height: 70%;
    margin-left: 140px;
    list-style-type: none;
    text-decoration: none;
}
.item-nav{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.item-nav a{
text-decoration: none;
color: black;

}
.btn-toggle-container{
cursor: pointer;
position: absolute;
top: 15px;
right: 15px;
display: none;
}
.btn-toggle-container img{
    width: 4Opx;
}
@media screen and (max-width: 600px) {
    .btn-toggle-container {
        display: block;
        margin-right: 15px; /* Ajustement de la marge */
    }

    .logo {
        margin-top: 10px; /* Ajustement de la marge */
        margin-left: -125px; /* Réinitialisation de la marge */
        
    }

    nav {
        border-bottom: 1px solid transparent;
    }

    #navbar2 {
        list-style-type: none;
        padding-left: 15px; /* Ajustement de la marge */
    }

    .button.btn.btn-primary {
        margin-top: 50px;
    }
    .btn-primary{
    --bs-btn-bg:#df6d14;
    --bs-btn-border-color: #df6d14;
    margin-right: 0;
    margin-top: 50%;
  
    }
    .btn{
        --bs-btn-font-weight: 600;
        --bs-btn-border-radius: 50px;
        --bs-btn-hover-bg: #df6d14;
        --bs-btn-hover-border-color: #df6d14;
        --bs-btn-active-color:#df6d14;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #df6d14;
    --bs-btn-color:white;
    --bs-btn-hover-color:white;
    --bs-btn-border-width: 5px;
    width: 400px;
    
    }

    .item-nav:nth-child(5) a {
        color: orangered;
        padding: 15px;
    }

    .item-nav:nth-child(6) a {
        color: white;
    }

    .item-nav a {
        text-decoration: none;
        color: white;
    }

    .liste-nav {
        position: relative;
        top: 10px; /* Ajustement de la position */
        display: none;
        text-align: center;
        margin-left: 0; /* Réinitialisation de la marge */
    }

    .item-nav {
        display: block;
        background:black;
        margin: 0;
        margin-right: 15px; /* Ajustement de la marge */
        margin-left: 15px; /* Ajustement de la marge */
        line-height: 45px; /* Ajustement de la hauteur de ligne */
    }

    .liste-nav.active-menu {
        display: block;
    }

    body {
        background-image: url("image/Group 6.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 40% 85%;
        background-size: 45%;
    }

    .myDiv {
        font-size: x-small;
        text-align: center;
        margin-right: 50%; /* Ajustement de la marge */
        margin-left: 15px; /* Ajustement de la marge */
        margin-top: 25%; /* Ajustement de la marge */
    }
    p{
        margin-right:-55%;
        margin-bottom: 13rem;
        padding-left:75px;
     
    }
    h1{
    font-family: sans-serif;
    font-weight: bolder;  
   
    }
    .text-start {
        text-align: center!important;
        margin-right: -115%;
        margin-left: -30px;
        margin-top: -25px;
    }

    div.btn-toggle-container {
        margin-right: 15px; /* Ajustement de la marge */
        margin-top: 15px; /* Ajustement de la marge */
    }
   
}
